
h1 {
  color: white;
  text-align: center;
}
.jumbotron {
	text-align: center;
  color: blue;
  background: White;
}
.title {
  color: blue;
}
.background {
  background-color: grey;
}
h1.underline {
  text-decoration: underline;
}
p.white {
  color: white;
  text-align: center;
}
.center {
  text-align: center;
}
.center ul {
  display: inline-block;
}
